/* HOME SECTION */

main {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: var(--background-color);
}

main #home {
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 100%;
}

main #home .home-container {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pizza-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aqua;

    align-items: center;
}

main #home .home-container .text-welcome-container {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin-left: 65px;
}

main #home .home-container .text-welcome-container .text-welcome {
    font-size: 96px;
    font-weight: 700;
    color: #FFFFFF;
}

main #home .home-container .text-welcome-container .text-welcome .text-brown {
    font-size: 96px;
    font-weight: 700;
    color: var(--main-red-color);
}

/* HOME SECTION */

/********************************************************************************/

/* PROMOTIONS SECTION */

.title {
    font-size: 48px;
    font-weight: 700;
    margin-left: 60px;
}

#promotions {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: fit-content;
    padding: 15px;
}

#promotions .products-container {
    display: flex;
    margin-top: 25px;
}

#promotions .products-container .products-list {
    overflow-x: scroll;
    padding: 0 1.6rem 0 1.6rem;
    width: 100%;
    display: flex;
    gap: 3.2rem;
}

#promotions .products-container ul li .card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    height: 26rem;
    width: 20rem;
    padding: .8rem;
    border: .2rem solid var(--secondary-yellow-color);
    border-radius: 1rem;
}

/* PROMOTIONS SECTION */

/********************************************************************************/

/* FAVORITES SECTION */

#favorites {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: fit-content;
    padding: 15px;
}

#favorites .products-container {
    display: flex;
    margin-top: 25px;
}

#favorites .products-container .products-list {
    overflow-x: scroll;
    padding: 0 1.6rem 0 1.6rem;
    width: 100%;
    display: flex;
    gap: 3.2rem;
}

#favorites .products-container ul li .card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    height: 26rem;
    width: 20rem;
    padding: .8rem;
    border: .2rem solid var(--secondary-yellow-color);
    border-radius: 1rem;
}

/* FAVORITES SECTION */

/********************************************************************************/

/* MENU SECTION */

#menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: fit-content;
    padding: 15px;
}

#menu .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
}

#menu .menu-header .filters-container {
    display: flex;
    width: fit-content;
    gap: 25px;
}

#menu .menu-header .product-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu .menu-header .product-search .product-search-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 300px;
    gap: 5px;
}

.select-category, .select-type {
    appearance: none;
    border: .2rem solid var(--main-red-color);
    border-radius: 1rem;
    outline: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    background: none;
}

#menu .menu-header .product-search .product-search-container .input-product{
    padding: 5px;
    height: 20px;
    border: none;
    width: 90%;
    border-bottom: solid 1px var(--main-red-color);
    font-size: 1.2rem;
    background-color: var(--background-color);
}

#menu .menu-header .product-search .product-search-container .input-product:focus {
    border: none;
    outline: none;
}

#menu .menu-header .product-search .product-search-container .input-product::placeholder {
    font-size: 1.5rem;
}

#menu .products-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#menu .products-container .subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-left: 60px;
    margin-bottom: 15px;
}

#menu .products-container .products-list {
    overflow-x: scroll;
    padding: 0 1.6rem 0 1.6rem;
    width: 100%;
    display: flex;
    gap: 3.2rem;
}

#menu .products-container ul li .card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    height: 26rem;
    width: 20rem;
    padding: .8rem;
    border: .2rem solid var(--secondary-yellow-color);
    border-radius: 1rem;
}

/* MENU SECTION */

/*************************/

.main-image {
    display: flex;
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pizza-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*************************/

/* SERVICES SECTION */

#services {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: fit-content;
    padding: 15px;
}

#services .services-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

#services .services-container .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 45px;
    border-radius: 10px;
    background-color: var(--secondary-red-color);
}

#services .services-container .service .service-name {
    font-size: 40px;
    font-weight: 700;
}

/* SERVICES SECTION */

/********************************************************************************/

/* CONTACTS SECTION */

#contact {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: fit-content;
    padding: 15px;
}

#contact .subtitle {
    font-size: 36px;
    font-weight: 700;
    margin-left: 60px;
    margin-bottom: 15px;
    color: var(--secondary-red-color);
}

#contact .contact-container {
    display: flex;
    margin-left: 60px;
    margin-right: 100px;
    justify-content: space-between;
}

#contact .contact-container .social-media-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 35px 0px;
}

.text-contact {
    font-size: 24px;
    font-weight: 400;
}

#contact .contact-container .social-media-container .location, .phone, .whatsapp, .instagram, .facebook, .twitter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px 25px;
}

#contact .contact-container .contact {
    display: flex;
    flex-direction: column;
    border: solid 1px #000000;
    width: 800px;
    height: fit-content;
    padding: 35px;

    align-items: center;
    justify-content: center;
}

#contact .contact-container .contact .contact-title {
    font-size: 32px;
    font-weight: 700;
}

#contact .contact-container .contact .message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    gap: 15px 0px;
}

#contact .contact-container .contact .message-container .input-name-and-type {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-container .contact .message-container .input-name-and-type .input-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
}

#contact .contact-container .contact .message-container .input-name-and-type .input-name-container .input-name{
    padding: 5px;
    height: 20px;
    border: none;
    width: 250px;
    border-bottom: solid 1px var(--main-red-color);
    font-size: 1.2rem;
    background-color: var(--background-color);
}

#contact .message-container .input-name-and-type .input-name-container .input-name:focus {
    outline: none;
}

.message-input-text {
    font-size: 24px;
    font-weight: 700;
}

#contact .contact-container .contact .message-container .input-email-container {
    display: flex;
    align-items: center;
    gap: 0px 15px;
}

#contact .contact-container .contact .message-container .input-email-container .input-email{
    padding: 5px;
    height: 20px;
    border: none;
    width: 250px;
    border-bottom: solid 1px var(--main-red-color);
    font-size: 1.2rem;
    background-color: var(--background-color);
}

#contact .contact-container .contact .message-container .input-email-container .input-email:focus {
    outline: none;
}

#contact .message-container .input-name-and-type .input-name-container .input-email:focus {
    border: none;
    outline: none;
}

#contact .contact-container .contact .message-container .input-message-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact .contact-container .contact .message-container .input-message-container .input-message-text {
    display: flex;
    align-items: center;
    gap: 0px 15px;
}

#contact .contact-container .contact .message-container .input-message-container .input-and-send-container {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

#contact .contact-container .contact .message-container .input-message-container .input-and-send-container .input-message {
    background-color: transparent;
    border: .2rem solid var(--secondary-yellow-color);
    width: 70%;
}

/* CONTACTS SECTION */