/******* MAIN *******/
main  {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem;
    margin-inline: 5rem;
    background-color: var(--background-color);
}

main #add-product {
    display: flex;
    justify-content: space-around;
}

main #add-product .left-container {
    display: flex;
    flex-direction: column;
}

main #add-product .left-container .product-title,
main #add-product .right-container .product-title {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--secondary-yellow-color);
}

main #add-product .left-container .info-product-container,
main #add-product .right-container .info-product-container {
    display: flex;
    flex-direction: column;
}

main #add-product .left-container .product-name-container .product-name-input {
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.6rem;
}

main #add-product .left-container .product-name-container .product-name-input:focus,
main #add-product .left-container .product-price-photo-container .product-price-container  .product-price-input:focus,
main #add-product .right-container .product-description-container .product-description-input:focus,
main #add-product .right-container .product-ingredients-container .product-ingredient-input:focus {
    outline: var(--main-red-color) solid .1rem;
}

main #add-product .left-container .product-price-photo-container {
    display: flex;
    gap: 9rem;
    padding: 3.2rem 0 3.2rem 0;
}

main #add-product .left-container .product-price-photo-container .product-price-container  .product-price-input {
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.6rem;
    width: 12rem;
}

main #add-product .left-container .product-price-photo-container .product-photo-container .product-photo-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .8rem;
}

main #add-product .left-container .product-price-photo-container .false-photo-input-container .false-photo-input {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 1rem;
    padding: 1.6rem;
    width: 12rem;
}

main #add-product .left-container .product-price-photo-container .product-photo-input {
    display: none;
}

main .filters-container {
    display: flex;
    gap: 2rem;
    height: fit-content;
    margin-bottom: 8rem;
}

main .filters-container .filter-container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

main .filters-container .filter-container .filter-title {
    color: var(--secondary-red-color);
    font-size: 1.6rem;
}

main .filters-container .filter-container .filter {
    appearance: none;
    border: .2rem solid var(--main-red-color);
    border-radius: 1rem;
    outline: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    background: none;
}

main #add-product .left-container .buttons-container {
    display: flex;
    gap: 3.2rem;
}

main #add-product .left-container .button-form {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background: none;
    background-color: var(--secondary-yellow-color);
    padding: 1.6rem 2.4rem;
    width: fit-content;
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8rem;
}

main #add-product .right-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

main #add-product .right-container .product-description-container .product-description-input {
    border: none;
    border-radius: 1rem;
    padding: 1.6rem;
    width: 51rem;
    height: 20rem;
    resize: none;
}

main #add-product .right-container .product-ingredients-container .product-ingredient-input-container {
    display: flex;
    align-items: center;
    gap: 8rem;
}

main #add-product .right-container .product-ingredients-container .product-ingredient-input-container .product-ingredient-input {
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.6rem;
    width: 35rem;
}

main #add-product .right-container .product-ingredients-container .product-ingredient-input-container .product-ingredient-button {
    cursor: pointer;
}

main #add-product .right-container .product-ingredients-container .ingredient-options-container {
    width: 51rem;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    flex-wrap: wrap;
}

main #add-product .right-container .product-ingredients-container .ingredient-options-container .ingredient-option {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}

main #add-product .right-container .product-ingredients-container .ingredient-options-container .ingredient-option .product-ingredient-checkbox-input {
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    display: grid;
    place-content: center;
    border: .2rem solid var(--secondary-red-color);
    transform: translateY(-0.075em);
}

main #add-product .right-container .product-ingredients-container .ingredient-options-container .ingredient-option .product-ingredient-checkbox-input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondary-red-color);
}

main #add-product .right-container .product-ingredients-container .ingredient-options-container .ingredient-option .product-ingredient-checkbox-input:checked::before {
    transform: scale(1);
}

main #add-product .right-container .product-ingredients-container .ingredient-options-container .ingredient-option .product-ingredient-checkbox-label {
    color: var(--secondary-yellow-color);
    font-size: 1.8rem;
}