/******* MAIN *******/
main  {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem;
    margin-inline: 5rem;
    background-color: var(--background-color);
}

main form {
    display: flex;
    justify-content: space-around;
}

main form .left-container {
    display: flex;
    flex-direction: column;
}

main form .left-container .product-title,
main form .right-container .product-title {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--secondary-yellow-color);
}

main form .left-container .info-product-container,
main form .right-container .info-product-container {
    display: flex;
    flex-direction: column;
}

main form .left-container .product-name-container .product-name-input {
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.6rem;
}

main form .left-container .product-name-container .product-name-input:focus,
main form .left-container .product-price-photo-container .product-price-container  .product-price-input:focus,
main form .right-container .product-description-container .product-description-input:focus {
    outline: var(--main-red-color) solid .1rem;
}

main form .left-container .product-price-photo-container {
    display: flex;
    gap: 9rem;
    padding: 3.2rem 0 3.2rem 0;
}

main form .left-container .product-price-photo-container .product-price-container  .product-price-input {
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.6rem;
    width: 12rem;
}

main form .left-container .product-price-photo-container .product-photo-container .product-photo-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .8rem;
}

main form .left-container .product-price-photo-container .false-photo-input-container .false-photo-input {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 1rem;
    padding: 1.6rem;
    width: 12rem;
}

main form .left-container .product-price-photo-container .product-photo-input {
    display: none;
}

main .filters-container {
    display: flex;
    gap: 2rem;
    height: fit-content;
    margin-bottom: 8rem;
}

main .filters-container .filter-container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

main .filters-container .filter-container .filter-title {
    color: var(--secondary-red-color);
    font-size: 1.6rem;
}

main .filters-container .filter-container .filter {
    appearance: none;
    border: .2rem solid var(--main-red-color);
    border-radius: 1rem;
    outline: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    background: none;
}

main form .left-container .buttons-container {
    display: flex;
    gap: 3.2rem;
}

main form .left-container .button-form {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background: none;
    background-color: var(--secondary-yellow-color);
    padding: 1.6rem 2.4rem;
    width: fit-content;
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8rem;
}

main form .right-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

main form .right-container .product-description-container .product-description-input {
    border: none;
    border-radius: 1rem;
    padding: 1.6rem;
    width: 51rem;
    height: 20rem;
    resize: none;
}