/******* MAIN *******/
main {
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

main .products-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

main .products-list-container .product-list-title {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--secondary-yellow-color);
}

main .products-list-container .product-list {
    display: flex;
    flex-wrap: wrap;
    width: 55rem;
    gap: 3rem;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
}

main .products-list-container .product-list .product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: .8rem;
    width: fit-content;
}

main .products-list-container .product-list .product .product-name {
    color: var(--secondary-yellow-color);
    font-size: 1.8rem;
    font-weight: bold;
}

main .products-list-container .product-list .product .product-radio {
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: .1rem solid var(--secondary-red-color);
    transform: translateY(-0.075em);
}

main .products-list-container .product-list .product .product-radio::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondary-red-color);
}

main .products-list-container .product-list .product .product-radio:checked::before {
    transform: scale(1);
}

main .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.4rem;
}

main .info-container .info-title {
    color: var(--secondary-yellow-color);
    font-size: 2.4rem;
    font-weight: bold;
}

main .info-container .percentage-container {
    display: flex;
    flex-direction: column;
}

main .info-container .percentage-container .product-percentage-input {
    border: none;
    border-radius: 1rem;
    width: 16rem;
    height: 7.8rem;
    font-size: 2.4rem;
    text-align: center;
}

main .info-container .percentage-container .product-percentage-input:focus {
    outline: var(--main-red-color) solid .1rem;
}

main .info-container .price-container {
    display: flex;
    flex-direction: column;
}

main .info-container .price-container .show-price {
    width: 16rem;
    height: 7.8rem;
    background-color: var(--white-color);
    border-radius: 1rem;
}

main .info-container .buttons-container {
    display: flex;
    gap: 3.2rem;
}

main .info-container .buttons-container .button-form {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background: none;
    background-color: var(--secondary-yellow-color);
    padding: 1.6rem 2.4rem;
    width: fit-content;
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
}