/******* HEADER *******/
header .button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    color: var(--white-color);
    font-size: 3rem;
    background-color: var(--secondary-yellow-color);
}

/******* MAIN *******/
main  {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-inline: 5rem;
    gap: 2.4rem;
    background-color: var(--background-color);
}

main .filters-container {
    display: flex;
    padding: 4rem 0 0 4rem;
    gap: 2rem;
    height: fit-content;
}

main .filters-container .filter-container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

main .filters-container .filter-container .filter-title {
    color: var(--secondary-red-color);
    font-size: 1.6rem;
}

main .filters-container .filter-container .filter {
    appearance: none;
    border: .2rem solid var(--main-red-color);
    border-radius: 1rem;
    outline: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    background: none;
}

main .products-container .product-container {
    display: flex;
    flex-direction: column;
}

main .products-container .product-container .product-title {
    font-size: 2.4rem;
    padding: 1.6rem 0 1.6rem 4rem;
    font-weight: bold;
    color: var(--black-color);
}

main .products-container .product-container .product-list {
    overflow-x: scroll;
    padding: 0 1.6rem 0 1.6rem;
    width: 100%;
    display: flex;
    gap: 3.2rem;
}

main .products-container .product-container .product-list .item-container {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    border: .2rem solid var(--secondary-yellow-color);
    border-radius: 1rem;
}

main .products-container .product-container .product-list .item-container .item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    height: 26rem;
    width: 20rem;
}

main .products-container .product-container .product-list .item-container .item-card .product-image {
    width: 15rem;
    height: 15rem;
}

main .products-container .product-container .product-list .item-container .item-card .product-info {
    font-size: 2rem;
    color: var(--main-red-color);
}

/******* MODAL *******/
main .modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 5%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

main .modal .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.2rem;
    background-color: var(--background-color);
    margin: auto;
    width: 30%;
    height: 90%;
}

main .modal .modal-container .close {
    color: var(--secondary-yellow-color);
    cursor: pointer;
    font-size: 6rem;
    font-weight: normal;
}

main .modal .modal-container .button-add-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 4rem;
    border-radius: 1rem;
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: bold;
    background-color: var(--secondary-yellow-color);

}